.gameObjectToggleButton {
    -fx-padding: 5;
    -fx-background-color: #f2f2f2;
    -fx-background-insets: 0;
    -fx-background-radius: 5;
    -fx-border-color: lightgray;
    -fx-border-radius: 5;
    -fx-cursor: HAND;
}

.gameObjectToggleButton:hover {
    -fx-background-color: lightgray;
}

.gameObjectToggleButton:selected {
    -fx-background-color: lightskyblue;
}

.gameObjectToggleButton:focused {
    -fx-focus-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 1, 2;
}

.button:hover, categories-list-view .list-cell:hover {
    -fx-background-color: deepskyblue;
}

.button {
    -fx-background-color: lightskyblue;
    -fx-background-insets: 0;
    -fx-cursor: HAND;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, #9AB, 0, 0, 0, 5);
}

.button .text {
    -fx-fill: white;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 2, 0, 0, 0);
}

.big-button {
    -fx-padding: 5 15;
}

.big-button .text, .level-button .text {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.mini-button {
    -fx-padding: 3 10;
}

.mini-button .text {
    -fx-font-size: 12;
}

.button:pressed {
    -fx-effect: none;
    -fx-translate-y: 5;
}

.gameObjectsFlowPane {
    -fx-background-color: WHITE;
    -fx-padding: 5;
    -fx-hgap: 5;
    -fx-vgap: 5;
}

.categories-list-view {
    -fx-background-color: LIGHTGRAY;
    -fx-padding: 0;
    -fx-border-width: 0 10 0 0;
}

.categories-list-view .list-cell {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 5 0 0 5;
    -fx-border-radius: 10 0 0 10;
    -fx-background-insets: 3 0 3 10;
    -fx-border-insets: 3 0 3 10;
    -fx-border-width: 0 1 0 0;
    -fx-border-color: LIGHTGRAY;
    -fx-padding: 5;
    -fx-cursor: HAND;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 2, 0, 0, 0);
}

.categories-list-view .list-cell:hover {
    -fx-background-color: LIGHTGRAY;
}

.categories-list-view .list-cell:selected {
    -fx-background-color: WHITE;
    -fx-border-color: TRANSPARENT;
}

.list-view .list-cell:empty {
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
    visibility: hidden;
    -fx-cursor: DEFAULT;
}

.categories-list-view .list-cell .text {
    -fx-fill: #444;
}

.subcategories-list {
    -fx-pref-width: 45;
    -fx-min-width: 45;
    -fx-padding: 0;
    -fx-border-width: 0 10 0 0;
    -fx-background-color: WHITE;
}

.subcategories-list .list-cell {
    -fx-cursor: HAND;

    -fx-background-color: #f2f2f2;
    -fx-padding: 4;
    -fx-border-width: 1;
    -fx-border-color: TRANSPARENT;

    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-insets: 5;
    -fx-border-insets: 5;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.subcategories-list .list-cell:hover {
    -fx-background-color: LIGHTGRAY;
}

.subcategories-list .list-cell:selected {
    -fx-background-color: LIGHTSKYBLUE;
}

.level-button {
    -fx-background-color: #70eb30;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-width: 0.5;
    -fx-border-color: #9AB;
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-padding: 0;
}

.button:disabled {
    -fx-background-color: LIGHTGRAY;
    -fx-opacity: 1;
}

.button:disabled .text {
    -fx-fill: #dadada;
}

.level-cell .label .text {
    -fx-font-size: 14;
}

.level-cell .button {
    visibility: hidden;
}

.level-cell:hover .button {
    visibility: visible;
}

.level-cell {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 2, 0, 0, 0);
    -fx-background-radius: 10;
    -fx-padding: 8;
}

.level-cell:hover {
    -fx-background-color: LIGHTGRAY;
}
